@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&display=swap");

:root {
	--text-color: hsl(0, 0%, 97%);
	--text-link-hover: hsl(0, 0%, 89%);
	--main-color: hsl(240, 24%, 4%);
	--highlight: hsl(51, 99%, 68%);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-image: url("./imgs/background-main.jpg");

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--main-color);
	color: var(--text-color);
}

#content {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 5rem 3fr 1fr;
	align-items: center;
	padding: 0 5rem;
	font-family: "Poppins", sans-serif;
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.7) 90%,
		rgba(0, 0, 0, 0) 100%
	);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.nav-links {
	display: flex;
}

.nav-links li {
	padding: 0.8rem 0.5rem;
	margin: 0 1rem;
	list-style: none;
}

.nav-links li:hover {
	cursor: pointer;
	color: var(--text-link-hover);
	border-bottom: 3px solid var(--text-link-hover);
	margin-bottom: -3px;
}

/* Main Content */

.main-content {
	place-self: center;
	text-align: center;
}

.main-content .button {
	margin-top: 2rem;
	padding: 1rem 2rem;
	background-color: black;
	color: var(--text-color);
	border: 5px solid var(--text-color);
	font-size: 1rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
}

.main-content .button:hover {
	cursor: pointer;
	color: black;
	background-color: white;
	border-color: var(--text-link-hover);
}

/* Bottom Styles */

.bottom {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.bottom .social-links li {
	list-style-type: none;
	font-size: 2rem;
	margin: 1rem 0;
}

.bottom .table {
	justify-self: end;
}

.bottom .table th {
	height: 3rem;
	text-align: center;
	border-bottom: 3px solid var(--text-color);
}

.footer {
	grid-column: span 2;
	place-self: center;
}

/* Main Content Menu */
.main-content.menu,
.main-content.menu > div {
	width: 100%;
}

.main-content.menu .section-heading,
.main-content.menu .menu-heading {
	display: inline;
	padding: 0 1rem;
	margin-bottom: 1rem;
	border-bottom: 3px solid var(--text-color);
}

.rolls-container {
	margin-top: 2rem;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.rolls-container ul li {
	list-style-type: none;
}

.menu-item {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	align-items: center;
	border-radius: 10px;
}

.menu-item img {
	width: 50px;
}

.menu-item p:first-of-type {
	justify-self: start;
}

/* Main Content About */

.main-content.about {
	width: 100%;
	height: 100%;
}

.about-wrapper {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
}

.about-section {
	width: 350px;
}

.about-section > h2 {
	display: inline;
	padding: 0 1rem 0.2rem;
	border-bottom: 5px solid var(--text-color);
	margin-bottom: -5px;
}

.about-section p {
	margin-top: 1.5rem;
}

.about-us {
	grid-column: span 2;
}

.value,
.history {
	align-self: start;
	margin-top: 3rem;
}

/* Main Content Contact */

.main-content.contact {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-wrapper {
	border-radius: 20px;
	width: 500px;
}

.heading-wrapper {
	margin: 1rem 0;
}

.heading-wrapper h2 {
	display: inline;
	padding: 0.2rem 2rem;
	border-bottom: 5px solid var(--text-color);
}

.heading-wrapper p {
	margin-top: 1.5rem;
}

.contact .form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr;
}

.form-element {
	display: flex;
	flex-direction: column;
	margin: 1rem 2rem;
	text-align: start;
}

.form-element label {
	margin-bottom: 0.5rem;
}

.subject,
.textarea {
	grid-column: span 2;
}

.textarea textarea {
	height: 5rem;
	resize: none;
}

.form button {
	grid-column: span 2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0.7rem;
	background-color: var(--text-color);
	border: none;
	color: var(--main-color);
	font-family: inherit;
	font-weight: bold;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

.form button:hover {
	cursor: pointer;
	background-color: var(--text-link-hover);
}

/* Glossy effect */

.contact-wrapper,
.about-section,
.menu-item {
	background-color: hsla(240, 24%, 4%, 0.4);
	backdrop-filter: saturate(180%) blur(10px);
}

.about-section {
	padding: 1rem;
	border-radius: 20px;
}
